:root {
    /* Paleta de colores */
    --background: #f5f5f5; /* Blanco humo */
    --text: #333333; /* Negro suave */
    --primary: #007aff; /* Azul iOS */
    --success: #34c759; /* Verde manzana */
    --neutral: #a6a6a6; /* Gris neutral */
  
    /* Colores derivados */
    --primary-hover: #0066cc;
    --success-hover: #29a74a;
    --border: #e0e0e0;
    --card-bg: #ffffff;
    --text-light: #777777;
  
    /* Fuente */
    --font-family: "Roboto", sans-serif;
  }
  
  