
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #f8f9fa;
}

.table-responsive {
    overflow-x: auto;
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 123, 255, 0.075);
}

.badge {
    font-size: 0.8em;
    text-transform: capitalize;
}



h1 {
    color: #333;
}

.menu {
    margin-top: 20px;
}



.nav-logo {
    text-decoration: none;
    color: inherit;
    display: flex; /* Alinea el SVG y el texto horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    gap: 8px; /* Espacio entre el logo y el texto */
}


a {
    text-decoration: none; /* Quita el subrayado */
    color: inherit; /* Usa el color del texto del contenedor padre */
    display: inline-block; /* Asegura que el enlace envuelva correctamente su contenido */
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .table-responsive {
        font-size: 0.9em;
    }
}